._2p7a._3j7r, /* www */
._9--._3j7r, /* www */ 
.sp_Jnt3vJul-6Q.sx_608018, /* touch */ 
.sp_Jnt3vJul-6Q_2x.sx_369a07 /* touch */  
{
    background-image: url(http://i.imgur.com/ezT25HW.png) !important;
    background-size: 16px 128px !important;
    background-position: 0 -80px !important;
}

._39m[data-reaction="7"] ._39n > div:first-child {
    background-position: 0 -240px !important;
}

._4g34[data-store="{\\"reaction\\":7}}"] ._uah i {
    background-position: 0 72% !important;
}
